body
{
background-color: #0C0F26;
font-family: 'Courier New';
color: #EEE5F3;
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    text-align: center;
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    width: 100%;
    
   
    padding: 10px; /* Поля вокруг текста */}
.head{
color: #B4A0CE;
text-align: center;
font-size: 35px;
height: 250px;;
    }

a{
    color: #B4A0CE;
    text-decoration:none ;
    font-size: 35px;;
}